[2015-06-04 14:47] kostya opened #2 "example hungs"
such example hungs infinitely:
[code]

strace shows this: `epoll_wait(3, `

if i change N to 1_000_00 all work.

[code]

[code]

Ubuntu 14.04.1 LTS

[2015-06-04 15:40] stefanwille commented on #2
Hi Kostya,

thanks for the bug report!

I tried your code on my Mac and couldn't reproduce the issue. Which operating system are you on?

[2015-06-04 15:40] stefanwille commented on #2
oops, just saw that you are on Ubuntu 14.04, never mind

[2015-06-04 17:55] stefanwille commented on #2
I tried the example on Ubuntu 14.04.1 LTS / 64 bit inside a VMware fusion virtual machine - works fine.
Which version of the Redis server are you using?

[2015-06-04 19:12] kostya commented on #2
on Ubuntu 12.04.1 LTS
`N = 39499` is ok, `N = 39500` hungs.
Redis server v=2.8.17

[2015-06-05 16:55] stefanwille commented on #2
Hi Kostya,

I have tested on Ubuntu 12.04.5 and Redis 2.8.17, and I could reproduce the issue. I couldn't figure out what the issue is.

As a workaround, I changed pipeline handling such that big pipelines effectively get split into multiple smaller ones. This works for me. Can you try the latest version please?

[2015-06-05 17:14] kostya commented on #2
thanks, seems fixed

[2015-06-05 17:33] asterite commented on #2
I wonder what the real problem is... if it's a bug in Crystal (either the std or the compiler) we shouldn't let this opportunity pass to fix a serious bug :-)

[2015-06-05 20:15] stefanwille commented on #2
@asterite I agree, and also I would rather not have the workaround in the Crystal-Redis code.

I made some progress: I extracted the code that causes the lockup into a single Crystal source file. This makes it easier to experiment. Here is is:

[code]

This triggers the issue reliably on Ubuntu 12.04 and 14.04 (not on Mac OS) and Redis 2.8 / 3.0.
The program always hangs in the first loop, while s

[2015-06-05 21:53] asterite commented on #2
@stefanwille Nice reduction :-)

I was able to reproduce it, but it's not BufferedIO's fault. This also hungs:

[code]

If I change Socket to be blocking (right now it's non-blocking) it doesn't hang, so it must be something related to that... I need to investigate further, but @waj is probably the one that will surely know what could be the problem.

[2015-06-06 02:26] waj commented on #2
I think I fixed this with the latest commit (manastech/crystal@04fb587). Redis starts sending responses way before they are read by the client and that trigger events with both the "read" and "write" flags set.

@kostya, @stefanwille could you please confirm if this fixes the issue in your case?

[2015-06-06 08:48] stefanwille commented on #2
@waj @asterite yes, this fixes the issue - tested on Ubuntu 14.04.

[2015-06-08 08:39] #2 closed

[2015-07-28 22:09] kailan opened #3 "Namespaces"
It'd be nice to have namespace support like https://github.com/resque/redis-namespace.

[2015-07-29 08:01] stefanwille commented on #3
Indeed, looks interesting. Will think about it. Have you used it?

[2015-07-29 08:48] kblanks commented on #3
I have and it's a useful tool :)

[2015-08-04 21:15] Thor77 opened #4 "hgetall returns Array"
`hgetall` should return a Hash instead
(referring to [redis-documentation](http://redis.io/topics/data-types-intro#hashes))

[2015-08-05 19:02] stefanwille commented on #4
Yes, would be friendlier.

[2015-10-30 21:50] teodor-pripoae commented on #3
+1

[2015-11-11 05:22] edorrington opened #8 "Bug when getting a value over 8K in length"
Hi,

I'm running into an issue where if I try to do a GET on a key whose value is over 8K, I'm not getting the full value back, and the library is throwing an exception on the next command issued.

What appears to be happening is, in connection.cr, on line 91, you're reading from the socket into a slice, but not ensuring that the return value from the read (the # of bytes actually read), is equal

[2015-11-11 07:19] stefanwille commented on #8
Hi Edward,

thanks for reporting! I will look into it.

[2015-11-11 13:32] asterite commented on #8
You can use [IO#read_fully(slice)](http://crystal-lang.org/api/IO.html#read_fully%28slice%3ASlice%28UInt8%29%29-instance-method) for this and it'll probably be fixed. Also make sure to use it in other places of the protocol if you expect the IO to have exactly that amount of bytes.

Also, to improve performance, you can do:

[code]

That avoids a double allocation (one with Slice.new, another with

[2015-11-12 18:33] stefanwille commented on #8
@asterite cool, done! Works great!

@edorrington it's fixed, please try :smile:

[2015-11-13 22:39] edorrington commented on #8
Thanks for the quick response! When I test the latest version in a simple app that just does as many gets as possible, it works fine for any size. But my actual use case is as a cache to store rendered ECR templates. When I am running it as part of a web app, and load test using wrk, I'm still getting a lot of errors whenever the value is greater than about 8k. I'll keep poking around to see if I

[2015-11-15 20:13] stefanwille commented on #8
I simplified your gist a bit:

[code]

It shows the error:

[code]

It seems that Crystal-Redis reads too many bytes from the socket.

The scary thing is that it only occurs with >= 2 HTTP connections in wrk. With 1 HTTP connection everything is fine.

[code]

I hope I will have a new idea how to debug this.

[2015-11-15 20:39] stefanwille commented on #8
The issue is still dependent on value size. At 4092 bytes it occurs, 4030 it doesn't.

[2015-11-15 20:40] stefanwille commented on #8
In master I have added a fix for the exception message that makes it more useful.

[2015-11-21 08:44] stefanwille commented on #8
I finally understood what is happening. The code shares one socket across multiple threads, and that can't work. Each thread must have it's own tcp connection to Redis.

I am surprised that I haven't recognized this earlier - it's probably because I spend my work day in nonthreaded Rails territory.

So, here is a version that is not very efficient but works flawlessly:

[code]

A more efficient ve

[2015-11-21 08:45] #8 closed

[2015-11-23 16:55] asterite commented on #8
@stefanwille What do you mean "across multiple threads"? Or did you mean coroutines?

[2015-11-23 19:10] stefanwille commented on #8
@asterite yes, I mean coroutines.

[2016-02-01 12:01] jmoriau opened #10 "Connecting to a passworded instance using a constructor parameter"
Hello,

I read the documentation and browsed the code but I couldn't find any mention of how I should proceed to connect an instance with a password ?

(Other than that awesome work :+1: )

[2016-02-01 12:27] stefanwille commented on #10
Thanks for the complement!

Please use the `Redis#auth` method:

https://github.com/stefanwille/crystal-redis/blob/master/src/redis/commands.cr#L80

http://redis.io/commands/AUTH

[2016-02-01 12:32] jmoriau commented on #10
Ah didn't see that, I was looking for a way pass the password similar to ruby (when the Redis instance is created).

Thank you very much!

PS: Maybe it could be added as a constructor that would just call the current one and send the auth command ? It's not really important since it can be done by just sending the command after creation, but would be convenient :smile:

[2016-02-01 12:40] stefanwille commented on #10
Yes, good idea, I will add it :smile:

[2016-02-01 12:41] jmoriau commented on #10
Awesome :+1:

[2016-02-02 10:47] #10 closed

[2016-03-25 19:21] jmoriau opened #13 "Doesn't work with latest crystal."
Hello,

After upgrading I found out that you're still using the old syntax for function parameters definition:

[code]

The new syntax requires to invert the type and the default value:

[code]

I read that it's simply a matter of running the formatter `crystal tool format` and it will automatically invert everything.

I don't think it's worth a pull request since it's just a matter of running the

[2016-03-25 23:50] stefanwille commented on #13
Fixed by PR #12

[2016-03-25 23:50] #13 closed

[2016-03-25 23:51] stefanwille commented on #13
Thanks for reporting the problem!

[2016-04-13 13:40] jmoriau opened #14 "hmset with an Int throws an ERR Protocol Error"
Hi,

Today I stumbled upon an error:

[code]

which results in:

[code]

My redis-server version is:

[code]

Am I doing something wrong ? (It works fine if I use a String for the value instead of an Int).
Also it works fine with `set`

[code]
What is the latest supported version ?

Best regards

[2016-04-14 06:59] jmoriau commented on #14
I also noticed your tests only test with string value for `hmset`.

If you add this one:

[code]

You'll see the error clearly:

[code]

[2016-04-17 08:55] stefanwille commented on #14
Hi,

Thanks for the issue report.

Redis expects its hash values to be strings. That's why you get that cryptic error message. My shard could perform type converson though. I think I will add that.

[2016-04-17 10:58] jmoriau commented on #14
Awesome :+1:

[2016-04-17 17:01] #14 closed

[2016-04-24 13:10] jmoriau opened #16 "SCAN doesnt seem to work with MATCH"
Hello,

Today I tried to use SCAN like this:

[code]

But all I get is:

[code]

If I don't pass a `match` arg it works.
Also I looked in the tests and this isn't tested :/ Am I doing this wrong or this doesn't work ?

Best regards,

Joris

[2016-04-24 16:58] jmoriau commented on #16
Ah I didnt see but it seems #15 fixes this

[2016-05-06 01:40] raydf opened #17 "Update to Crystal 0.16"
Hello:

I'm receiving this error:

```Can't infer the type of instance variable '@connection' of Redis::Strategy::SingleStatement```

Is there any planning on updating this library to the new version?

Thanks in advance,

raydf

[2016-05-06 07:55] stefanwille commented on #17
Hello Rayner,

thanks for the issue. Yes, I am going to upgrade to Crystal 0.16. But I won't have the time to do it before my vacation. This means I will do this in 3 weeks.

[2016-05-06 12:39] asterite commented on #17
Any help or questions you have with how to upgrade, let me know. If the error messages or the docs are not clear, I'll try my best to improve them :-)

[2016-05-06 15:06] stefanwille commented on #17
@asterite Cool, thank you!

[2016-05-06 16:05] raydf commented on #17
Thanks for the response @stefanwille. @asterite could you check the forked version i'm working (https://github.com/raydf/crystal-redis). There's a problem when i try to specify the abstract base for an instance variable:

[code]

Thanks,

raydf

[2016-05-06 16:59] asterite commented on #17
The problem is that `Commands` has `@strategy = Redis::Strategy::SubscriptionLoop.new(@connection, subscription)` somewhere in the code, so the type is inferred to that type.

The solution is to add `@strategy : Strategy::Base` in the `Commands` module (let me know if that worked)

[2016-05-06 17:39] stefanwille commented on #17
Seems to work. But I get more compile time errors about missing type declarations. I tried to go through them for a bit, but it's too many for today. This will have to wait until I am back.

[2016-05-06 18:36] raydf commented on #17
@stefanwille i'll keep working in the forked version and if have success in compiling it all and passing specs i'll send PR to your project, thanks for the great work.

[2016-05-06 20:55] stefanwille commented on #17
@raydf yes please, would be great.

[2016-05-16 21:51] mperham commented on #17
@raydf Your fork gets further but the tests don't pass.  Notably pipeline and multi modes are still broken.

[code]

[2016-05-17 05:27] raydf commented on #17
Hello @mperham, i couldn't finish the work. I pushed my last commit to my fork. The version i'm using can execute simple redis commands without pipeline, but won't pass the tests. I believe we should wait for @stefanwille to make a complete update or help me with all the problems found.

[2016-05-18 20:46] mperham commented on #17
I finished the work here https://github.com/stefanwille/crystal-redis/pull/18

[2016-05-27 10:25] jmoriau commented on #16
Oops closed too early I thought you merged #15 when I saw the email notification, sorry.

[2016-05-27 10:53] stefanwille commented on #16
Yes, I wanted to get 017.4 compatibility out quickly and then look at your pr next.

[2016-05-27 10:54] jmoriau commented on #16
it's not mine but awesome anyway :+1:

[2016-05-27 15:02] #16 closed

[2016-05-27 15:04] stefanwille commented on #17
PR #18 merged

[2016-05-27 15:04] #17 closed

[2016-05-27 15:05] stefanwille commented on #16
PR #15 merged.

[2016-06-10 20:43] zachad opened #21 "spop with an empty set causes TypeCastError"
Calling "spop" on a non-existent, (or empty) set causes a TypeCastError

[code]

Running the above causes the following error:

[code]

I'm seeing similar crashes/errors when running the specs as well, so it could possibly be something with my setup.  Any suggestions?  The happens against redis server 2.4.10 and 3.2.0.

[code]

[2016-06-11 06:28] jmoriau commented on #21
Just tried it, doesn't work for me either.

[2016-06-13 07:45] stefanwille commented on #21
Thanks for reporting, I will look into it.

[2016-06-22 06:34] #21 closed

[2016-07-02 16:48] merl-dev opened #24 "Crystal benchmarks may be inaccurate"
Please see https://github.com/stefanwille/redis-client-benchmarks/issues/9.  Crystal cannot outperform libhiredis when the benchmark is correctly set up.

[2016-07-13 23:42] kostya opened #25 "autoreconnection"
would be nice if client have auto reconnection mode, because most production redis-servers have option `timeout 300`, and slow clients often failed with RedisError: Disconnected. And redis-rb have no this problem.

[2016-07-14 01:51] kostya commented on #25
as workaround i using this hack: https://github.com/kostya/redis-reconnect

[2016-07-14 10:58] stefanwille commented on #25
That's good feedback. I'll look into it.

[2016-08-14 08:38] stefanwille opened #28 "Exception when calling 'ping' on a subscribed connection"
Most commands are not allowed on a subscribec connection. However, "PING" is.

subscribe.cr:

[code]

publish.cr:

[code]

produces:

[code]

[2016-08-15 17:18] maiha opened #29 "raw method"
How do you like `raw` method that accepts Array(String) and invokes string_command stuff?

code: https://github.com/maiha/redis-cluster.cr/blob/master/src/ext/redis/raw.cr
usage: https://github.com/maiha/redis-cluster.cr/blob/master/spec/cluster/commands/raw_spec.cr

If you like this, I'll create a PR.
Of course, welcome to reject :)

Thanks.

[2016-08-18 19:25] stefanwille commented on #29
Hi!

I am not sure what you are trying to achieve with the `raw` method. All the stuff in commands.cr (https://github.com/stefanwille/crystal-redis/blob/master/src/redis/commands.cr) is about making a nice interface with conveniently type casted return values for each command. All the method ultimately call `#command` on a strategy, such as in the SingleStatement strategy. I suspect that `#command

[2016-08-19 17:40] maiha commented on #29
Yep, you're absolutely right! The `#command` is the very api I've been wanted!
Sorry for bothering you :)
Thank you very much!

[2016-08-19 17:40] #29 closed

[2016-08-23 14:02] kostya opened #30 "not compiled with crystal master"
`Crystal 0.18.7+357 [07964d0] (2016-08-23)`

[code]

i guess `select` is now language keyword

[2016-08-23 15:01] stefanwille commented on #30
Thanks for reporting.

[2016-08-26 14:31] stefanwille commented on #30
Fixed in v1.6.7

[2016-08-26 14:31] #30 closed

[2016-12-24 18:02] kostya opened #31 "keys bug in crystal 0.20.3"
[code]
there is no matched keys

[code]

socket.gets in this method:
[code]

output "0"

[2016-12-24 18:24] kostya commented on #31
actually also there 133 failed specs right now in master

[2016-12-29 20:07] stefanwille commented on #31
Fixed by PR https://github.com/stefanwille/crystal-redis/pull/32

[2016-12-29 20:07] #31 closed

[2016-12-29 20:08] stefanwille commented on #31
@kostya thanks!

[2017-01-18 04:21] abduct opened #34 "sinter should accept an array of args"
The current implementation of `sinter` allows for multiple arguments via the splat operator which is good.
[code]

Although I believe there should also be an array overload which is in my opinion more useful. It could potentially be easily added like so:

[code]

The reason behind this being more useful is because using tuples or single arguments may not be viable in all circumstances. For instanc

[2017-02-20 19:29] z64 opened #37 "Cast from Int64 to (String | Nil) failed in very fast events"
Hi! I'm looking to understand why this is occurring in the following code, and how to handle it.

I have the issue of generating an ID with `INCR` and immediately using it to `SET`. My app receives packets from a websocket connection and I'm caching them for potentially multiple clients to replay, so I'm just using this to ensure a sortable ID that clients can request.

[code]
Produces:
[code]
Is

[2017-02-20 20:56] z64 commented on #37
Upon reading closed issues, it would seem the following hadn't made it's way into the docs, as the example provided in <https://github.com/stefanwille/crystal-redis/issues/8#issuecomment-158613225> seems to have fixed my use case.

As shown in the snippet, instancing a new connection in the event thread appears to work.

[2017-02-21 01:20] stefanwille commented on #37
Hi Zac, this is documented here: https://github.com/stefanwille/crystal-redis/blob/master/src/redis.cr#L31-L34

[2017-02-21 01:21] #37 closed

[2017-02-21 07:25] z64 commented on #37
Apologies - Not sure how I missed that!

Thank you.

[2017-02-21 14:54] stefanwille commented on #37
No problem :)

[2017-02-21 14:59] stefanwille commented on #37
I have renamed the issue in case somebody else with the same problem searches the issue list.

[2017-02-21 15:03] kostya commented on #37
try: https://github.com/kostya/redisoid

[2017-03-25 16:19] ghost opened #39 "Subscribtion block not called."
My Code:
[code]

My output:
[code]

What my `redis-cli` receives:
[code]

What I want: That the crystal-redis subscribtion gives me a message.

@stefanwille

[2017-03-27 20:36] stefanwille commented on #39
HI Daniel, thanks for reporting. I will look into it.

[2017-05-26 01:31] foi commented on #39
I have tried on crystal 0.22.0, crystal redis 1.8.0 and it's works.

[2017-05-28 19:49] delef opened #40 "Return value for set commands"
Why do you return "OK", but not Bool?

[2017-05-29 09:07] stefanwille commented on #40
Because I expect that nobody cares about the return value of these commands as they raise exceptions on error.

[2017-06-01 11:31] #40 closed

[2017-07-29 20:54] vladfaust commented on #4
Bumping. Why isn't it still merged with master?

[2017-07-29 20:56] vladfaust commented on #39
@stefanwille you never looked into it. The one of the most major crystal libs is not maintained!

[2017-07-30 10:21] stefanwille commented on #39
@vladfaust can you reproduce this issue?

[2017-07-30 13:25] vladfaust commented on #39
I'm sorry, the bump wasn't related to this particular issue, I just wanted to call you see the other ones,
 especially #4

[2017-07-30 14:22] kostya commented on #39
i don't know what the issue is, subscription works for me in production very well.

[2017-07-30 16:52] stefanwille commented on #4
This is a bigger issue: Redis represents hashes as arrays in multiple places, and this PR addresses only one spot. By returning a proper hash in only one place, the api becomes inconsistent. I'd like to change the affected methods all at once. But doing this without a lot of code duplication is difficult. That's why I didn't merge this PR.

[2017-08-10 07:38] akashdeep-singh opened #41 "Does this support redis sentinel?"
I'm working on an application that needs to suuport redis running with a sentinel cluster. I currently use node.js and https://github.com/ortoo/node-redis-sentinel solves my use case. I'm trying out crystal for a new module, and want to know if support for sentinel is on the cards?

[2017-08-10 08:33] stefanwille commented on #41
@akashdeep-singh I am not working on redis sentinel support, although I think it would certainly be very interesting and educating. I am certainly open to PR's.

[2017-08-10 09:04] akashdeep-singh commented on #41
@stefanwille Thanks for the response. I'm not good enough with crystal to start contributing yet, but I'll try and find time to make this work in the near future.

[2017-08-10 09:04] #41 closed

[2017-09-07 00:38] weirdbricks opened #42 "Is there a way to get the equivalent of `OBJECT IDLETIME <key>` with crystal-redis?"
Hello,

Thank you for your excellent work in this.

I was looking for a way to get the age of an object in seconds and it looks like you can do that by using `OBJECT IDLETIME <key>` - for example, with the redis-cli I can do:

[code]

Is there a way to get the same result with crystal-redis?

Thanks!

[2017-09-07 00:43] weirdbricks commented on #42
Sorry, forgot to attach the relevant Redis command page where this is referenced:

https://redis.io/commands/object

[2017-09-07 03:53] maiha commented on #42
Hi @weirdbricks !
Unfortunetely, it seems `object` command has not been implemented yet.

But, all crystal commands is internally represented as `Array(String)`.
So you can manually call it by `Redis#command(ary : Array(String))` method like this!
[code]

[2017-09-07 04:07] weirdbricks commented on #42
Hi @maiha,
Thank you very much for your prompt response.

I gave it a try but I got a strange error:

[code]

Here's my function with some additional debugging information:

[code]

Do you see anything wrong with my code? In case it matters my version of Redis is: **3.2.5**

Many thanks!

[2017-09-07 05:49] maiha commented on #42
[code]

I think this should be:

[code]

otherwise, it means as same as:
[code]

FYI: `object idletime` returns nil if the key doesn't exist, so I found we should use `as(Int64?)`.

[2017-09-09 00:42] weirdbricks commented on #42
@maiha many many thanks! It worked great!

@stefanwille thank you sir and no rush at all - the workaround suggested by @maiha did the trick!

Feel free to close or do whatever you think is necessary with this issue :)

[2017-09-10 12:00] stefanwille commented on #42
@weirdbricks done: https://github.com/stefanwille/crystal-redis/releases/tag/v1.9.0

[2017-09-10 12:01] #42 closed

[2017-09-10 21:08] weirdbricks commented on #42
@stefanwille thank you!!

[2017-09-22 21:37] danielwestendorf opened #43 "#psubscribe subscription callback not called"
I'm unsure if this is a bug or just improper usage of the library. I can `#subscribe` to a channel without issue. However, when I try to use `#psubscribe` the subscription callback never is called. What am I doing wrong?

[code]

[code]

[code]

[code]

[code]
[code]

[2017-09-23 14:22] danielwestendorf commented on #43
This was a usage issue. After looking at the specs, the API for listening to `#psubscribe` is different.

I've created a [PR](https://github.com/stefanwille/crystal-redis-examples/pull/3) with an example for `#psubscribe` to the examples repo.

[2017-09-23 14:22] #43 closed

[2017-10-05 18:31] georgeu2000 opened #45 "Is it possible to initialize with Redis URL?"
Heroku and Ruby Redis gem can use a "Redis URL" to initialize. I checked the source code for Crystal Redis and it seems that it does not support it.

Is it possible to add support for Redis URL?

[2017-10-05 18:32] georgeu2000 commented on #45
Oh I see it now.

[2017-10-05 18:32] #45 closed

[2017-11-26 08:22] MrSorcus opened #46 "Protocol error: expected '$', got ':'"
[code]
[code]

`redis-cli 4.0.2`

`Redis server v=4.0.2 sha=00000000:0 malloc=jemalloc-4.0.3 bits=64 build=7f1ccca440c3fe09`

P.S. I think that i found a problem... In my code... X-) Closed.

[2017-11-26 08:45] #46 closed

[2017-12-05 19:28] da99 opened #47 "What is the recommended way to store small binary data using crystal-redis?"
If I have binary data (eg MessagePack encoded data), shall I encode it to a string representation for Crystal-Redis?

[2017-12-05 19:42] stefanwille commented on #47
Yes, I think so. I have no idea how to make a nice API using Slice(UInt8) for binary data.

[2017-12-05 20:07] #47 closed

[2017-12-06 12:17] RX14 commented on #47
No, this is wrong. Non-text data in a string is simply incorrect, and creating a `String` from `Bytes` causes a memory copy anyway. Encoding the binary data into a `String` using base64 for example to be valid crystal code takes even more of a performance hit. Please provide an adequate API for binary data.

[2017-12-06 12:21] RX14 commented on #47
I see you already use the binary-safe strings in redis. All you have to do is provide a `Bytes` overload of [this](https://github.com/stefanwille/crystal-redis/blob/82d6dda37b547f629c28157f3ad5a677594abb21/src/redis/connection.cr#L45) and relax relevent type restrictions to `String | Bytes`.

[2018-04-03 13:35] plainas opened #49 "Execution gets stuck at the subscribe block"
I think this can be marked as a bug, because if it is a design choice, it's extremely limiting as we can only set up one subscriber and not to anything else.

The fact is that execution gets trapped in the subscribe block. The subscription works but the code stops there.

[2018-04-03 13:37] stefanwille commented on #49
Are you using multiple threads?

[2018-04-03 13:46] plainas commented on #49
Not that I am a ware of. I was trying to use this in a kemal app. Which didn't work because both kemal and crystal-redis pub sub required an event loop.

I commented out all code and left just the code from the pubsub example. I wen and red the docs that came with this module and it does appear that there is no way to subscribe without getting stuck in an event loop. Is that so?

[2018-04-03 15:27] stefanwille commented on #49
I think now I get what you mean. You are calling subscribe and thread execution blocks, and you expected that it would continue instead.

This is how Redis subscriptions are designed. A different behaviour would require a new thread / a spawn.

[2018-04-09 13:00] bararchy opened #50 "Invalid Int32"
Redis server: 4.0.9
OS: Ubuntu 17.10

Changed code for debug here:
![screenshot at 15-55-50](https://user-images.githubusercontent.com/1631073/38498987-e1ac90a2-3c0e-11e8-85c1-e7023494229d.png)

Getting this:

![screenshot at 15-57-35](https://user-images.githubusercontent.com/1631073/38499000-eb8e2fc2-3c0e-11e8-8f69-fef3a4985404.png)

Not sure why but it gets an empty line and tries to do `.to_i`

[2018-04-09 13:45] bararchy commented on #50
it seems I was using an old version of the shard, newer one fixes it, thanks.

[2018-04-09 13:45] #50 closed

[2018-04-13 09:10] #49 closed

[2018-05-03 01:47] jwoertink opened #52 "Question about return types"
This might not be the place for this question, but I'm hoping you might know or at least where I should look for an answer...

If I store `Time.now`, the value I get back is going to be a string. Is there a way to get back that Time instance?

[code]

I can't just cast it with `.as(Time)` because I get a `cast from String to Time failed` error.

[2018-05-03 04:30] jwoertink commented on #52
After some thought, I came up with an idea for this. Storing as a string, and pulling back out as string will be fine.

[2018-05-03 04:30] #52 closed

[2018-05-05 17:42] girng opened #53 "[suggestions] - please add support for disconnect / connection timeout"
for example, if you do
[code]

the user will never get a raised error about failed to connect. in fact, the above code will block (unless u put it into a fiber)

my suggestion:
 - let us give a `connectiontimeout` to the parameter, and after xxx seconds if no connection, it will raise an error.
- if the master redis server dies, it should throw an error as well
- if the wrong password is given (or

[2018-05-05 20:02] stefanwille commented on #53
Should not be too difficult:

[TCPSocket.new(host, port, dns_timeout = nil, connect_timeout = nil)](
https://crystal-lang.org/api/0.21.0/TCPSocket.html#new%28host%2Cport%2Cdns_timeout%3Dnil%2Cconnect_timeout%3Dnil%29-class-method)

[2018-05-06 04:44] girng commented on #53
@stefanwille i added
` tcpsocket = TCPSocket.new(host, port, false, 1)`

to line 16, in connection.cr. and the redis error "connection timeout" dose get raised. =]

i am very new to crystal, so please take my ideas/posts with grain of salt. i'm still learning the ropes, thanks you sir

[2018-05-21 21:32] dwmcc opened #55 "Throw Redis::DisconnectedError rather than IO::Error"
Hello,
I'm getting used to Crystal, and have been using both crystal-redis and redisoid to connect to a Redis server. I'm attempting to build a web server (Lucky framework) with an endpoint that will return the results of a Redis key. I've been testing edge cases, and it seems that when the Redis server is shut down, then a request is made, and then it is restarted, subsequent Redis requests throw

[2018-05-21 21:52] kostya commented on #55
i assume this will fix it, but need to test it:
[code]

[2018-05-24 13:11] Jens0512 opened #56 "Redis.mapping"
Something like `Redis.mapping` would be extremely convenient, and follows the convetion, eg. `JSON`, `YAML` and `DB` -`.mapping`.

I am quite new to redis, and would like to know whether this is realistic or not.

[2018-05-25 14:10] kostya commented on #56
there is no any sense, you can use `JSON.mapping` or any other and `redis.set "bla", data.to_json`, `Data.from_json(redis.get("bla"))`

[2018-05-25 16:42] Jens0512 commented on #56
Yeah, alright, thanks!

[2018-05-25 16:42] #56 closed

[2018-05-25 17:15] kostya commented on #55
how to reproduce it?

redis-server --port 7777 --timeout 20
[code]

and start stop redis in the middle:
[code]

[2018-05-27 10:57] stefanwille commented on #55
@dwmcc same here, I tried @kostya's program, and it shows me a DisconnectedError and allows me to reconnect.

[2018-05-27 11:01] #53 closed

[2018-06-12 13:24] stefanwille commented on #25
Hi @emq, this came up 2 or 3 times recently. I guess it is best that I just integrate @kostya's redis-reconnect code for this, if he doesn't mind?

[2018-06-14 17:28] kostya commented on #25
i think i will create pull request

[2018-06-17 07:59] #25 closed

[2018-06-17 07:59] #55 closed

[2018-06-17 10:19] kostya opened #60 "integrate pool of connections with ysbaddaden/pool"
this is very needed in concurrent applications.

[2018-06-17 10:38] stefanwille commented on #60
What type of integration do you have in mind? Connection pooling baked right in? Or would an example program do?

[2018-06-17 10:41] kostya commented on #60
yes just baked in as redis-rb again.

[2018-06-18 07:31] stefanwille commented on #60
So I guess the idea is a class `Redis::Pool`, where one can do this:

[code]

[2018-06-18 07:33] kostya commented on #60
if code have 100~ redis calls it problem to wrap every call with pool.redis

[2018-06-18 07:36] stefanwille commented on #60
How would such a program checkout/checkin a connection? Explicitly, like so?

[code]

[2018-06-18 07:37] kostya commented on #60
not really imagine where and this can be used. for subscription only, but it can be hardcoded.

[2018-06-18 07:39] stefanwille commented on #60
Sorry, I don't understand what you mean?

[2018-06-18 07:55] stefanwille commented on #60
This is the API you had in mind?

https://github.com/stefanwille/crystal-redis/pull/61/files

[2018-06-18 08:09] kostya commented on #28
this would work with Redis::Pool

[2018-06-18 08:14] stefanwille commented on #28
why?

[2018-06-18 08:16] kostya commented on #28
i mean with my pool implementation in #62, because for ping it would use new connection.

[2018-06-18 08:18] kostya commented on #28
oh, nvm, i wrong, you want use ping to test current connection.

[2018-06-19 13:05] #60 closed

[2018-06-22 09:25] stefanwille opened #64 "When command method called on disconnected connection and reconnect = false then raise an exception"

[2018-06-23 15:51] stefanwille commented on #64
Fixed by #65

[2018-06-23 15:51] #64 closed

[2018-09-24 18:41] parruda opened #68 "Cast from Array(Redis::RedisValue) to (String | Nil) failed when using brpoplpush"
Forgive me if that's just because I am just learning Crystal, but I am stuck on this.
I am trying to pop something from a queue with:

[code]

The docs say:

Once timeout is reached, I am getting this error:

[code]

What am I doing wrong?

[2018-09-25 01:05] parruda commented on #68
It works.
Thanks a lot @maiha !

[2018-09-25 10:54] parruda opened #70 "lpush error when sending concurrent requests"
Hey guys,

I am using Kemal to receive requests on a specific endpoint and add a JSON to a queue to be consumed by workers using the [Reliable Queue Pattern](https://redis.io/commands/rpoplpush#pattern-reliable-queue).
Basically it does:

[code]

Things start to fail when I send concurrent requests.

This works:

[code]

Then I add a second one:

[code]

That's when I start to see errors:

[code]

[2018-09-25 12:38] maiha commented on #70
Hi @parruda !

This library is not **thread-safe**. So you must handle connections by yourself.
The choices are as follows.

- a) wrap connections with  **connection pool** library like https://github.com/ysbaddaden/pool
- b) use thread-safe one like https://github.com/kostya/redisoid

Best regards,

[2018-09-25 12:40] kostya commented on #70
use pooled_client: https://github.com/stefanwille/crystal-redis#connection-pooling

[2018-09-25 15:17] stefanwille commented on #68
I have merged @maiha's PR and published release 2.1.1. Please try!

[2018-09-25 15:21] stefanwille commented on #70
`Redis` objects are not thread safe. Please use @kostya's solution: `Redis::PooledClient`, as in @kostya's link.

[2018-09-25 15:21] #70 closed

[2018-09-25 21:33] parruda commented on #68
It works. Thanks!

[2018-09-25 21:33] #68 closed

[2018-09-25 21:34] parruda commented on #70
Using the polled client works. Thanks guys!

[2018-10-03 13:54] proyb6 opened #71 "Improve memory benchmark?"
It has been nearly 3 years and I see Go and Crystal have improved that they are so close.

On macOS Mojave
https://github.com/stefanwille/redis-client-benchmarks

Crystal 0.26.1
Time 2.25s
Memory 130MB

Go 1.11
Time 2.58s
Memory <12MB

I wonder if Crystal could reduce memory usage?

[2018-10-08 08:27] stefanwille commented on #71
Hi @proyb6! When I built this shard, I thought the main reason why people use Redis over an RDBMS is performance, and therefore the shard should perform well. I needed something to measure this shard against others libraries so that I knew where I stood. As such I built it as a microbenchmark - it is not representative of a programming language. In this sense it would fun to see updated numbers, b

[2018-10-08 08:27] #71 closed

[2018-10-26 08:23] mistoo opened #72 "Syntax error with SET NX/XX"
`redis.set("foo", "bar", nx: true)` raises exception:

[code]
Quick fix (not sure if it's correct):

[code]

[2018-11-02 17:45] codenoid opened #73 "cast from Int64 to (String | Nil) failed"
[code]

[2018-11-08 22:32] codenoid commented on #73
that's the problem

[2018-12-04 14:35] vladfaust opened #74 "Closing a blocked client"
Hello,

If I block the client with `redis.blpop` and then call `redis.close` (presumably in another fiber), the client connection isn't closed and still blocks. Any workaround here?

[2018-12-04 14:38] vladfaust commented on #74
Actually, https://redis.io/commands/client-kill and https://redis.io/commands/client-unblock work

[2018-12-04 14:38] #74 closed

[2018-12-04 15:36] stefanwille commented on #73
@codenoid please can you tell me how to reproduce the issue?

[2018-12-04 15:49] larskluge opened #75 "Support for Redis 5 Streams?"
see https://redis.io/commands#stream

Would love to see streams supported. Is this on the roadmap any time soonish?

Thank you!

[2018-12-04 19:10] codenoid commented on #73
idk, too many code in my project

[2018-12-04 23:47] proyb6 commented on #73
@codenoid Kindly write a small test at least, your previous issue in Crystal repo were closed for the same reason.

[2018-12-04 23:53] #73 closed

[2018-12-04 23:54] codenoid commented on #73
![Joe](https://i.postimg.cc/yx8B2d05/99915.jpg)

[2018-12-12 15:49] larskluge commented on #75
Hey Stefan, thanks for the note. No rush on my end, I would just love to play with it through Cristal :) I bet others are interested in this pretty cool new feature of Redis too. Thanks for you work!!

[2018-12-12 21:24] jwoertink opened #76 "Redis tanks when under load"
I have a fairly simple call I run when a page loads. If I use the app with just me, everything works great. When I try to benchmark by putting it under a little load, I start getting all kinds of redis errors.

Here's the code that's run on page load:

[code]

Here's the benchmark using [wrk](https://github.com/wg/wrk)

[code]

This happens both locally, and in production using openredis small ins

[2018-12-12 21:34] kostya commented on #76
what is your redis_client? you should use PooledClient for concurrency

[2018-12-12 21:38] jwoertink commented on #76
@kostya I'm not using a redis client, just the redis server. Locally it's version 3.2.8, but in production it's 4.0.9.

What's PooledClient?

[2018-12-12 21:41] kostya commented on #76
you are using this shard which is a redis client. I am about variable redis_client, what is it? looks like your app use redis client concurrently, so you should use https://github.com/stefanwille/crystal-redis#connection-pooling

[2018-12-12 21:43] jwoertink commented on #76
oh, I see what you mean.
[code]

Ok, cool. I'll check out that pooling and see if that helps. Thanks!

[2018-12-12 21:49] kostya commented on #76
you create client for every request?

[2018-12-12 21:51] jwoertink commented on #76
No, it's actually on the class level, and there's some memoization happening there.

[2018-12-12 21:57] jwoertink commented on #76
oh nice! Looks like moving that over to the `Redis::PooledClient.new(url: ENV["REDIS_URL"]?)` works! I went from 3req/sec to 1400req/sec 😂

I'll go ahead and just close this for now

[2018-12-12 21:57] #76 closed

[2018-12-13 02:32] kostya commented on #73
i saw similar errors in another issues, and all this errors turns out was just concurrency errors, are you environment use concurrency?

[2019-01-31 04:55] larskluge commented on #75
Wow, beautiful—thank you, @aemadrid! Will play with it as soon as I find the time.

[2019-02-13 23:44] aemadrid commented on #75
@larskluge I've looked at implementing hashify for futures but I cannot quite get the hang of it. That affects how useful streams will be. For me living without pipeline/future support for streams is enough but that might not be what everyone else expects.

[2019-02-13 23:52] larskluge commented on #75
I do very basic stuff just yet and am happy to have the support at all.
Cool without pipeline/future support for a first version.
On Wed 13. Feb 2019 at 18:45 Adrian Madrid <notifications@github.com> wrote:

[2019-02-19 13:18] saturn-network commented on #76
From out experience, interaction of crystal-redis and amber framework has memory leaks and crashes heroku dynos after prolonged usage (they run out of RAM). Tried with both a pool of size 5 and a pool of size 1.

[2019-02-19 14:16] kostya commented on #76
are you sure that it is redis client problem? i use redis with pools in highload app, no memory problems at all.

[2019-02-19 14:25] saturn-network opened #79 "crystal-redis leaks memory?"
Perhaps because of https://github.com/ysbaddaden/pool/issues/2

Symptoms: when using crystal-redis inside amber framework with pooledconnection to cache responses, heroku dynos run out of memory (I presume due to request buffer filling up) and no requests end up getting served, the get stuck on `redis.get`.

Does anybody have a success story using crystal-redis with amber framework or in productio

[2019-02-19 14:37] stefanwille commented on #79
Do you have repo that I can use to reproduce the issue?

[2019-02-19 14:38] kostya commented on #79
there is no failed instances in pool, all connection reestablished when needed

[2019-02-19 14:46] saturn-network commented on #79
@stefanwille unffortunately not at the moment. I shall do my best to come up with a minimal reproducible example and push that as a repo.

@kostya that may well be. Still, in practice what I have observed is that the instance grew its mem usage and died under load, and this only happens when we're using redis caching.

[2019-02-19 14:47] stefanwille commented on #79
@saturn-network that minimal reproducible example would be very helpful

[2019-02-19 14:49] saturn-network commented on #79
I can imagine :) Do you want to close the issue for now and have me reopen it when it's done, or do you want to keep it open?

[2019-02-20 13:11] stefanwille commented on #79
Please leave this issue open for now.

[2019-03-09 18:52] saturn-network commented on #79
Will open a new issue to track this with the writeup guiding through how the project is initialized, where redis comes into play, and we can discuss how to properly stress test the server and detect where the issues might be happening.

Perhaps the issue is with a specific amber version, or wrong usage of the language, or poorly configured GC

[2019-03-09 18:53] #79 closed

[2019-03-13 14:25] amedeiros opened #80 "Casting Int64 into Array(RedisValue)"
When using commands `zrangebyscore` and `zremrangebyscore` its possible for the command to return an Int64 from redis. in `Redis::CommandExecution::ValueOriented#string_array_command` and `Redis::CommandExecution::ValueOriented#array_or_nil_command`.

Yes I am in a multithreaded environment and yes I am using the `PooledClient` (saw the other ticket).

Making these changes stopped the exceptions.

[2019-03-13 14:53] amedeiros commented on #80
Also side note this could be completely because of the multi threading in my app.

[2019-03-13 16:48] kostya commented on #80
this quite hack, i think this should not be the case. Should be some wrong usage, your env really threaded or just concurrent? what pool size?

[2019-03-13 19:57] amedeiros commented on #80
A hack indeed. Well currently I spawn a few different fibers each one using the the same PooledClient instance with the default size of 5.

[2019-03-13 20:48] amedeiros commented on #80
Closing this was my fault.

[2019-03-13 20:48] #80 closed

[2019-03-13 21:41] kostya commented on #80
Actually, when you use same PooledClient between fibers, it should not raise this error even if pool small (can only be problem if you use threads). When connection busy, it wait or raise PoolTimeoutError error. So, i only can imagine some crazy combination of `multi` or `pipeline` with other commands in concurrent env.

[2019-04-23 12:50] vladfaust commented on #75
FYI: There is lower-level <https://github.com/vladfaust/mini_redis> which is Redis version independent, allowing streams in any mode.

[2019-04-26 23:59] IMS-Global opened #81 "Error resolving redis (~> 2.0.0, 2.1.0)"
shard.yml
-----------------------
name: web_socket
version: 0.1.0

authors:
  - IMS-Global

crystal: 0.27.2

license: UNLICENSED

targets:
  web_socket:
    main: src/web_socket.cr

  amber:
    main: lib/amber/src/amber/cli.cr

dependencies:
  amber:
    github: amberframework/amber
    version: 0.27.0
    #branch: master

  granite:
    github: amberframework/granite
    version: ~> 0.15.0

  qu

[2019-06-22 19:20] prutya opened #83 "Check if in the connection is in a subscription loop"
Hi,  I am building an SSE Server based on Redis pub-sub.
Is there a way to check if a connection is already in a subscription loop? I want to reuse connections from pool to subscribe them to more redis channels.

UPD: I see there is a private method [`#already_in_subscription_loop?`](https://github.com/stefanwille/crystal-redis/blob/master/src/redis/commands.cr#L1630), gonna check if I can call it

[2019-06-23 10:04] stefanwille commented on #83
Hi, connections in the connection pool are supposed to be idle and ready to be reused. As such, they should never be in a subscription loop.

`Redis::PooledClient` checks out a connection from the connection pool for a single command and then immediately returns it. This is a usage pattern that works for many things, but not for subscriptions. For a subscription, you really need a separate `Redis`

[2019-06-23 11:27] kostya commented on #83
PooledClient can work with subscription, but it just checkout connection from pool until it loop stops. So you dont need such check, because in pool all other connections would be idle.

[2019-06-23 16:43] prutya commented on #83
@stefanwille Okay, I see. But I can still call [`#subscribe`](https://github.com/stefanwille/crystal-redis/blob/master/src/redis/commands.cr#L1590) on a subscription-looped connection, right? I need a way to figure out whether it is in such a loop before calling the method, because if it is not, I'll have to call a different [`#subscribe`](https://github.com/stefanwille/crystal-redis/blob/master/s

[2019-06-27 19:31] KaulSe opened #84 "Pooled Client uses subscribe on psubscribe method"
**Bug**
The pooled Redis client is using the wrong method on the psubscribe method which results in a wrong subscription.
Here a code example:
[code]
Which results in the following subscription on the Redis server:
[code]
If we now try to publish, for example, the following message, `redis-cli publish 'ab' '{"id":199}'`, the message will not arrive the server as it will only listen for the `a*` ke

[2019-06-28 09:15] stefanwille commented on #84
Fixed by #85

[2019-06-28 09:15] #84 closed

[2019-06-29 18:25] stefanwille commented on #83
I think you want to call subscribe twice on the same connection? That should not work. You would need a separate connection per subscriber.

[2019-07-03 05:22] #83 closed

[2019-09-28 12:11] mhusmann opened #88 "hmset accepts only 2 arguments"
It would be nice if hmset would accept an arbitrary number of arguments

[2019-10-22 01:05] fridgerator opened #90 "Add support for GEO commands"
https://redis.io/commands/georadius

* `GEOADD`
* `GEODIST`
* `GEOHASH`
* `GEOPOS`
* `GEORADIUS`
* `GEORADIUSBYMEMBER`

[2019-11-21 02:01] m-o-e commented on #72
Any chance to commit this fix?

Having the `set`-command work correctly seems pretty important for a redis client. ;)
(that's not to diminish your work, thanks a lot for this shard that otherwise works perfectly for me! 🙇)

The problem is that there doesn't seem to be a workaround
(short of monkey-patching) for users who need these parameters.

Fwiw, here's the monkey-patch for anyone else who nee

[2019-11-30 15:12] #72 closed

[2019-11-30 15:13] stefanwille commented on #72
I forgot about this issue completely. A fix is in master now.

[2019-11-30 15:28] m-o-e commented on #72
Awesome, thanks!

[2019-11-30 15:31] #90 closed

[2019-11-30 15:42] stefanwille commented on #3
Fixed via #89

[2019-11-30 15:42] #3 closed

[2019-11-30 15:45] stefanwille commented on #88
#hmset accepts a hash of key/value pairs, which means it supports an arbitrary number of arguments already.

[2019-11-30 15:45] #88 closed

[2019-11-30 15:46] stefanwille commented on #81
I am not sure what you mean?

[2019-11-30 15:47] stefanwille commented on #34
Somebody added this feature a while ago.

[2019-11-30 15:47] #34 closed

[2019-12-13 11:23] #81 closed

[2019-12-26 17:54] gottlike opened #94 ""COUNT" option of "GEORADIUS" broken"
Recently the GEO commands were added (see https://github.com/stefanwille/crystal-redis/issues/90), but the COUNT option of GEORADIUS and GEORADIUSBYMEMBER is broken.

I created a pull request to fix it: https://github.com/stefanwille/crystal-redis/pull/93

[2019-12-28 13:03] stefanwille commented on #94
Thanks!

[2019-12-28 15:57] #94 closed

[2020-01-09 10:39] gottlike opened #97 "Bug: Unusable in web context?"
I built a small web app that's supposed to go in production (first Crystal one, actually) and was stress-testing the backend with [wrk](https://github.com/wg/wrk/wiki/Installing-wrk-on-Linux).

That's when the backend was breaking down, throwing errors and hanging (but only for the routes where Redis is used). I noticed - among other things - that Redis commands were not in order anymore (e.g. a p

[2020-01-09 10:48] gottlike commented on #97
Forgot to mention: To easily start a Redis instance, just use:

`docker run --rm -d -p 6379:6379/tcp redis:5.0.7-alpine3.11`

[2020-01-09 11:18] gottlike commented on #97
Okay, I just saw this: https://github.com/stefanwille/crystal-redis#connection-pooling

And after using `Redis::PooledClient.new` I can't reproduce the issue anymore :tada:

Maybe you would like to mention this in the readme as a requirement when using web frameworks :sweat_smile:

[2020-01-09 11:18] #97 closed

[2020-01-20 09:27] repomaa opened #98 "blpop not compiling"
There's an issue with the `blpop` command. When trying to use it i get the following error:

[code]

[2020-01-20 09:28] repomaa commented on #98
Specifically: using blpop inside a multi

[2020-01-20 18:03] stefanwille commented on #98
Yes, this is a bug in a MULTI context. brpop has the same bug.

This bug is difficult to fix. I am not sure yet how I will do it.

[2020-02-17 18:41] kostya opened #100 "Error: no overload matches 'Redis#namespaced' with type Array(Redis::RedisValue)"
After update to crystal-redid to 2.5.3
i got unexpected error in this code, for me this code looks ok:
[code]

[code]

[2020-02-20 15:26] stefanwille commented on #100
The problem seems to be that `#keys` returns an `Array(RedisValue)`, and `#namespaced` wants an `Array(String)`. A possible fix is to allow the latter to accept an `Array(RedisValue)` instead and then convert to String.

A workaround would also be to perform the type cast yourself, as shown here:

https://github.com/stefanwille/crystal-redis/pull/101/files

[2020-03-17 11:14] zaidakram commented on #76
Facing the similar situation, Using [sidekiq.cr](https://github.com/mperham/sidekiq.cr) I get
[code]
under heavy load. And Sidekiq workers start loosing jobs. It gives same warning on enqueuing a new job. Does anybody have a clue why this is happening. Thanks

[2020-04-07 08:52] stergiom opened #104 "[Error] Missing "v1.0.0:shard.yml" for "redis""
I'm getting `Missing "v1.0.0:shard.yml" for "redis"` when running a `shards install` on Crystal 0.34.

[2020-04-08 09:26] #104 closed

[2020-06-04 13:49] jgillich commented on #100
Same issue here: https://github.com/stefanwille/crystal-redis/blob/009e35fa40bbd518798afcc32c397402c6c6acb2/src/redis/commands.cr#L143

([I think](https://gist.github.com/jgillich/b3782aaba58e1daec4594ba08f90d1c6))

[2020-06-12 20:47] rodrigopinto commented on #100
Hi @stefanwille, I was updating the lib on https://github.com/defense-cr/defense as it is a dependency and faced the same issue.

Debugging a bit the problem, I don't think the proposal workaround is a good way to proceed, neither the late suggestion of changing the method signature, but I explain below.

The method `#keys` is currently returning(`Array(RedisValue)`) an Array with the union type o

[2020-06-20 08:11] z64 commented on #83
Hi @stefanwille -

In our application we were slightly mislead about this detail, because `PooledClient` provides `#subscribe` which allows you to do this "anti-pattern" that you noted above;
[code]

Our application is *very* latency sensitive so we highly value having a pool of client available.

We can change to using our own cached `Redis` connection, with a light wrapper for error handling, re

[2020-06-20 10:16] stefanwille commented on #83
Hi Zac,

I don't have a quick answer to your first question. I guess it could be that the the method should throw an exception. I haven't thought about this enough though.

Regarding your second question: There is nothing preventing you from "resetting" a `Redis` connection and returning it to the pool for reuse. That is what is happening already in `PooledClient`. You can see in its source code t

[2020-06-20 10:16] stefanwille commented on #83
@z64

[2020-06-22 22:56] z64 commented on #83
Thanks for the reply @stefanwille !

Normally yes, but in the case of `subscribe` - take the following example:

[code]

In the context of my question, "reset" refers to resetting what I believe is `@strategy` inside `Redis` so that it may be used for general commands again if it is selected from the pool again later, since its pub/sub purpose is complete. But maybe there is some API in this shard

[2020-06-23 08:32] stefanwille commented on #83
@z64 If the connection is still thinking it is subscribed after you have called `unsubscribe()`, then this is a bug. You should not have to reset it manually in this case.

[2020-06-23 08:36] stefanwille opened #106 "After unsubscribe() Connection thinks it is still subscribed"
As mentioned here: https://github.com/stefanwille/crystal-redis/issues/83

[code]

[2020-06-23 08:36] stefanwille commented on #83
I have made this issue to track it better: https://github.com/stefanwille/crystal-redis/issues/106

[2020-07-20 16:03] mashirozx opened #109 "Error: undefined constant IO::Timeout"
[code]

[2020-07-29 20:27] Serdnad commented on #109
`IO::Timeout` was changed to `IO::TimeoutError` in Crystal 0.35.0.

Adding `branch: master` to your shards.yml should fix this.

[2020-07-30 07:19] mashirozx commented on #109
Thanks

[2020-07-30 07:19] #109 closed

[2020-09-04 07:56] sa-0001 opened #111 "difference between blpop and brpop"
the following code works correctly for `brpop`, but raises an exception for `blpop`:

[code]

the above example correctly outputs the expected item.  however, change `brpop` to `blpop`, and the result is `Unhandled exception: Empty enumerable (Enumerable::EmptyError)`.

looking in the source code, i see that `blpop` and `brpop` are implemented slightly differently.  does this mean they need to be

[2020-11-28 17:44] tachyons commented on #4
@robacarp  I have addressed store_hash here https://github.com/stefanwille/crystal-redis/pull/113 to avoid multiple redis queries. retrieve_hash can be simplified to
[code]

[2021-03-25 14:48] roduquen opened #114 "Updating to crystal 1.0.0 ?"
Hey, will redis be updated to crystal 1.0.0 ? Thanks

[2021-04-10 00:25] kostya commented on #114
@stefanwille can you give repo access? i will update it

[2021-04-10 07:53] stefanwille commented on #114
@kostya I will be happy to do so, thank you.

[2021-04-10 07:56] stefanwille commented on #114
Done

[2021-04-10 08:12] stefanwille commented on #114
I have also added @robacarp as maintainer to crystal-redis. He is also the maintainer of Mosquito. Please coordinate between the two of you.

[2021-04-10 08:32] kostya commented on #111
this should be fixed in 2.7.0

[2021-04-10 08:32] #111 closed

[2021-04-10 08:33] kostya commented on #114
pushed 2.7.0

[2021-04-10 08:33] #114 closed

[2021-04-10 08:58] kostya commented on #98
it should compile in 2.7.0, but seems in multi it will be runtime error, can you provide example and reopen if still fails.

[2021-04-10 08:58] #98 closed

[2021-07-04 15:21] #39 closed

[2021-07-04 15:21] kostya commented on #39
not confirmed

[2021-07-05 00:14] #100 closed

[2021-07-05 01:04] #106 closed

[2021-07-05 12:43] #28 closed

[2021-07-05 14:33] #4 closed

[2021-07-08 09:22] niko opened #119 "Sorted set pop commands missing?"
Did I miss something or are #zpopmin, #zpopmax, #bzpopmin and #bzpopmax missing?

[2021-08-18 20:04] CapnBerni opened #121 "Error: method Redis::TransactionApi#zadd must return (Int64 | String) but it is returning Redis::Future"
Hello,

I'm doing some testing with crystal and sidekick.cr and it looks like I got an issue with redis (error in title).

I join the log trace here:
[trace.log](https://github.com/stefanwille/crystal-redis/files/7009866/trace.log)

Crystal 1.1.1
dependencies:
  redis:
    github: stefanwille/crystal-redis
    version: ~> 2.6

Reproduce:
clone repo: https://github.com/mperham/sidekiq.cr
shards ins

[2021-08-18 20:04] CapnBerni commented on #121
Issue opened on sidekick: https://github.com/mperham/sidekiq.cr/issues/111

[2021-08-18 20:12] CapnBerni commented on #121
It works just adding the type to the method, I don't know yet what it implies but I let it there:
[commands.txt](https://github.com/stefanwille/crystal-redis/files/7009935/commands.txt)

[2021-08-18 20:25] kostya commented on #121
if you lock crystal-redis version at 2.7.0 would it work?

[2021-08-18 20:34] #121 closed

[2021-08-18 20:41] kostya commented on #121
i also pushed 2.8.2 which should fix it.

[2021-08-18 20:45] CapnBerni commented on #121
It works, thanks a lot and have a nice day

[2021-08-23 18:24] mixflame opened #123 "Redis command injection DoS"
Referenced PR #122

Fixed

Command injections causing server crash. Now will fail silently.

Love

- Anya/Jon
She/Her

[2021-09-11 10:09] #123 closed

[2021-09-24 08:17] haarts opened #124 "Feature request: KEEPTTL with the SET command"
The SET command allows for the TTL to remain, see the KEEPTTL argument here: https://redis.io/commands/set

It would be great to have that here too.

[2022-02-28 22:47] jwoertink opened #127 "Using Redis clustering"
We have Redis on AWS in cluster mode, and it's been fine while using Cable-cr. However, we just tried to use this shard directly to store some data, and ran in to some issues:

[code]

This ends up throwing an exception. Is there a way to handle this already? Or something that will have to be added in to support?

[2022-03-01 08:02] stefanwille commented on #127
I have never tried this shard with Redis in cluster mode, and I don't know if anybody has done so, or what it would take to get it to work.

[2022-03-01 15:47] jwoertink commented on #127
I briefly looked at how the Ruby client does it. I think what that was doing was run the command, if it fails with this "MOVED" command, then you rescue and grab the host that contains the data and run the command against that host.

So in a pseudo-code way:

[code]

I'm sure it's a lot more complicated than that, but that was the general idea I saw the ruby client doing.

I don't think it was too

[2022-03-01 16:23] russ commented on #127
Here is the docker-compose.yml file I used to boot a cluster.

[code]

Then just a simple request for data.

[code]

My understanding is that the cluster responds with what node the data is actually on. So if I connect to the node given back, then I can fetch the data.

[code]

[2022-05-06 17:49] jwoertink opened #128 "Subscriptions don't seem to reconnect if Redis dies"
In Cable-cr we have this instance setup

https://github.com/cable-cr/cable/blob/a8f7f3d9d8218078ab270720738dc33e0858775b/src/cable/server.cr#L35

it calls `subscribe` when the server is booted, and ran within a spawn

https://github.com/cable-cr/cable/blob/a8f7f3d9d8218078ab270720738dc33e0858775b/src/cable/server.cr#L152-L154

If the redis server gets rebooted, then that connection will throw a `R

[2022-05-06 18:10] jwoertink commented on #128
Maybe related: https://github.com/ysbaddaden/pool/issues/2

[2022-05-27 13:44] hugopl opened #129 "Non block version of `multi`"
Hi,

I need to start transaction for more than one redis server and write the same set of keys for all them in this transaction. With current `multi` this isn't possible since it requires a block. But I can't just call:

[code]

Since the `write_keys` procedure is slow and memory hungry. The solution is to just send the `MULTI`/`EXEC` command myself, but I was thinking if a patch to allow a non-bl

[2022-05-27 20:04] hugopl commented on #129
I didn't fully test this yet, but the monkey patch I'll need to use will be something like this:

[code]

[2022-06-20 01:41] jgaskins commented on #127
Hat tip to @jwoertink for pointing me to this issue.

The way I implemented this in my own Redis shard was by creating [an abstraction for clusters](https://jgaskins.dev/redis/Redis/Cluster.html) that automatically routes commands to the right servers based on the key name (inferred from the second element in the command array) and whether it's a read or write command. This is cleaner and more per

[2022-10-07 21:58] atlantis opened #130 "Weird sporadic cast error with HGET/HGETALL"
Hi and thanks for a great library! I'm having a very odd error where very rarely HGET returns 0 instead of a string, and throws a cast error...

I added the following to value_oriented.cr:45
[code]

And here's an example log set:

[code]

It will fail once and then the next request will pull the value just fine!

Any ideas what might be going on? It would be fairly simple to suppress the error but